repos:
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
